:root {
  --background: 200 16% 18%; /* Dark Gray */
  --foreground: 0 0% 90%; /* Light Gray for text */
}
.continerdashboard {
    min-height: 100vh;
    background-color: rgb(3, 3, 3);
    color: rgb(216, 221, 214);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}   
.continerdashboard-title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(252, 0, 0);
    margin-bottom: 3px;
    text-align: center;   
    align-items: center; 
    min-height: 20px;
    width: 100%;
    padding: 10px;
}
.continerdashboard-logo{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    color: rgb(216, 221, 214);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-top: 1px solid rgb(255, 0, 0);
    min-height: 20%;
    background-color: rgb(25, 27, 24);
    padding: 10px;
    border-radius: 10px;

}
.continerdashboard-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 20%;
    font-size: small;
    border-right: 1px solid rgb(255, 0, 0);
    min-height: 100%;
    padding: 10px;
    height: 85vh;
}
.continerdashboard-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3px;
    justify-content: space-between;
    width: 80%;
    min-height: 100%;
    padding: 10px;
    background-image: url('../../public/FPMX-logo.png');
    background-size: calc(40% - 10px) calc(40% - 10px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(3, 3, 3);
    gap: 20;
}
.continerdashboard-logout{    
    width: 20%;
    background-color: rgb(25, 27, 24);
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}
.continerdashboard-logout-perfill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}
.continerdashboard-logout-perfill img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(25, 27, 24);
    border: 3px solid rgb(255, 0, 0);
    padding: 3px;
}

.continerdashboard-menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    background-color: rgb(25, 27, 24);
    border-radius: 10px;
    border-bottom: 1px solid rgb(255,0,0);
    
}
.continerdashboard-menu ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    text-align: left;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}
.continerdashboard-menu ul li{   
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.continerdashboard-menu ul li:hover, .continerdashboard-menu ul li.active {
    background-color: rgb(252, 0, 0);
    color: rgb(208, 212, 206);
}
.continerdashboard-border{
    border: 1px solid rgb(252, 0, 0);
    border-radius: 10px;
}
.font-color-red{
    color: rgb(252, 0, 0);
}
.btn{
    cursor: pointer;
}
