*{margin: 0; padding: 0; }

.component-button-text{
    font-size: small;
}

.component-button-black{
    background-color: #292929; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.component-button-black:hover{
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}
.component-button-blue{
    background-color: #4a02ff; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.component-button-blue:hover{
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}

/* dopDownMenu */
.ka-dropdown{
    padding: 0;
    background-color: #000;
    color: #fff;
}   
.ka-dropdown-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
} 
.ka-dropdown-menu li{
    list-style: none;
    position: relative;
    display: inline-block;
    
}
.ka-dropdown-menu li a{
    display: block;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}
.ka-dropdown-menu li a:hover{
    background-color: #fff;
    color: #000;
}
.ka-submenu{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    left: 0;
    background-color: #000;
    padding: 0;
    z-index: 2;
}
.ka-submenu li{
    display: block;
    width: 100%;
}   
.ka-submenu li a{
    padding: 10px 20px;
    color: #fff;
}   
.ka-submenu li a:hover{
    background-color: #fff;
    color: #000;
}   
.ka-submenu .ka-submenu{
    left: 100%;
    top: 0;
}
.ka-submenu li:hover > .ka-submenu{
    display: block;
    color: #000;
}
/* Fim DropDownMenu */
/* contenter */
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 3);
    color: rgb(208, 212, 206);
}
.content-center{
    background-color: rgb(3, 3, 3);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-gap-20{
    gap: 20px;
}
.content-center-background{
    background-color: rgba(0, 0, 0, 0.2);
}

.contenter-form{
    width: 90%;
    padding: 20px;
    
    border-radius: 10px;
    border: 2px solid #fff;
    margin: auto;
    background-color: rgb(3, 3, 3);
    color: rgb(208, 212, 206);
}
.contenter-form-h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    border: 2px solid #fff;
    background-color: rgb(3, 3, 3);
    padding: 10px;
    border-radius: 10px;
}
.contenter-form-form{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(25, 27, 24);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* fim contenter */
/* img */
.img-center{
    justify-content: center;
    align-items: center;
    align-items: center;
    display: flex
}
.img-center-30{
    width: 30%;
    height: 30%;
}
.img-center-50{
    width: 50%;
    height: 50%;
}
.img-center-100{
    width: 100%;
    height: 100%;
}
/* fim img */
/* Espacamento */
.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-50{
    padding: 50px;
}
.p-60{
    padding: 60px;
}
.p-70{
    padding: 70px;
}
.p-80{
    padding: 80px;
}

.p-90{
    padding: 90px;
}
.p-100{
    padding: 100px;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-50{
    margin: 50px;
}
.m-60{
    margin: 60px;
}
.m-70{
    margin: 70px;
}
.m-80{
    margin: 80px;
}
.m-90{
    margin: 90px;
}
.m-100{
    margin: 100px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-70{
    margin-top: 70px;
}
.mt-80{
    margin-top: 80px;
}
.mt-90{
    margin-top: 90px;
}
.mt-100{
    margin-top: 100px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-90{
    margin-bottom: 90px;
}
.mb-100{
    margin-bottom: 100px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-50{
    margin-left: 50px;
}
.ml-60{
    margin-left: 60px;
}
.ml-70{
    margin-left: 70px;
}
.ml-80{
    margin-left: 80px;
}
.ml-90{
    margin-left: 90px;
}
.ml-100{
    margin-left: 100px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}
.mr-50{
    margin-right: 50px;
}
.mr-60{
    margin-right: 60px;
}
.mr-70{
    margin-right: 70px;
}
.mr-80{
    margin-right: 80px;
}
.mr-90{
    margin-right: 90px;
}
.mr-100{
    margin-right: 100px;
}
.w-50{
    width: 50%;
    gap: 20;    
}
.w-100{
    width: 100%;
    gap: 20;
}

/* Fim Espacamento */

/* box sign in */
.box-sign-in{
    width: 30%;
    background-color: rgba(25, 27, 24,0.8);
    border-radius: 10px;
    color: rgb(208, 212, 206);
}
@media screen and (max-width: 768px) {
    .box-sign-in{
        width: 80%;
    }
    
}
.is-flex{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
/* Fim box sign in */
/* modal */
.ka-modal{
    width: 90%;
    top: 10%;
    left: 50px;
    right: -50px;
    background-color: rgba(57, 50, 50, 0.9);
    background-image: none;
    z-index: 1;
    position: absolute;
    color: #fff;
    padding: 10px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px 20px 0 0 ;
}
.ka-modal-header {
    background-image: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(255, 0, 0);
    padding-bottom: 10px;
    
}
.ka-button-close-modal{
   font-size: x-large;
   cursor: pointer;
        
}
.ka-modal-content {
    background-image: none;
    padding-top: 10px;
    gap: 20;    
}
.ka-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    border-top: 2px solid rgb(255, 0, 0);
}
/* Fim modal */
/* ka-input */
.ka-input  {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    color: #000;
}
.ka-seclect{
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    color: #000;
}
/*Gerenciamento de Prova*/
.gerenciamento{
    width: 100%;
    height: 55vh;
}
.content-gerenciamento{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.gerenciamento-top{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #fff;
}
.gerenciamento-left{   
    width: 60%;
    padding: 0 10px;
    box-shadow: 2px 2px 2px 5px #fff;
    height: 100%;
    border-right: 1px solid #fff;
}
.gerenciamento-right{   
    width: 70%;
}
.gerenciamento-box{
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: bold;
    color: #292929;  
    align-items: center; 
    text-align: center;
    align-content: center;
    cursor: pointer;
}
.gerenciamento-box p{
    margin-bottom: 5px;
}
.gerenciamnto-box-bottom{
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: #292929;
    box-shadow: 2px 2px 2px 2px #fff;
    font-size: small;
    text-align: center;
}
.gerencimanto-box-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.gerenciamento-buttom{
    position: relative;
    font-size: small;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    right: 0;
}
.gerenciamento-buttom:hover{
    background-color: #fff;
    color: #000;
}
/* fim gerenciamento de prova*/

/*footer form*/
.footer-form{
    position:fixed;
    bottom: 10px;
    width: 88%;
    border-top: 2px solid #fff;
}
.fix{
    position: relative;
}
.ka-table{
    background-color:rgba(61, 60, 60, 0.8);
    width: 100%;
    border-collapse: collapse;
    display: table;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);   
}
.ka-table th, .ka-table  td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.scrollbar{
    height: 70vh;
    overflow: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
}
.scrollba-evento{
    height: 30vh;
    overflow: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.ka-table-title{
    border-bottom: 1px solid #fff;
    text-align: center;
}
.avatar-preview{
    width: 120px;
    height: 120px;
    border: 1px solid #fff ;
    border-radius: 10px;
    overflow: hidden;
    image-rendering: pixelated;
}
.avatar-title{
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.img_avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.input_oculta{
    display: none;
}
.ka-title-relatorio{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: rgb(208, 212, 206);
}
